<div class="container-fluid">
  <div class="row">
    <div class="col-6 mt-4">
      <h4>Employee Form</h4>
      <form #empFormData="ngForm" (ngSubmit)="addEmp(empFormData.value)" 
      class="form-group mt-4">
       <label>Emp Id</label>
       <input type="text" class="form-control mb-3 w-50" name="id" ngModel>
        <label>Employee Name</label>
        <input type="text" class="form-control mb-3 w-50" name="name" ngModel>
        <label>Employee Designation</label>
        <input type="text" class="form-control mb-3 w-50" name="role" ngModel>

        <input type="submit" class="btn btn-primary mt-2" value="{{editMode ?'Update product':'Add Product'}}">
      </form>
    </div>
    <div class="col-6 mt-4">
      <h4>Employee Details</h4>
      <table class="table table-hover" border="1">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Employee Name</th>
            <th>Employee Designation</th>
          </tr>
          <tr *ngIf="allEmpData.length<1">
            <td colspan="5">No Data Available...!!!</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of allEmpData ; index as i">
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.role}}</td>
            <td><button class="btn btn-danger" (click)="onDeleteClick(data.id)">Delete</button></td>
            <td><button class="btn btn-success" (click)="onEditClick(data.id)">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="GetData" (click)="OnempFetch()" class="btn btn-success">
      <!-- <button class="btn btn-warning ms-3" (click)="onDeleteAll()">ClearData</button> -->
    </div>
  </div>
</div>